:root {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  margin: 0;
  #dark {
		--lighter: #a2bcf9;
		--accent: #6484cd;
		--background-primary: #0A0D14;
		--background-secondary: #141A29;
		--background-secondary-alt: #141A29;
		--foreground-primary: #a8b5c3;	
		--purple: #492dd5ec;
	}
	#light {
		--lighter: #0A0D14;
		--accent: #1f3eb8;
		--background-primary: #f3f7ff;
		--background-secondary: #CBD6F0;
		--background-secondary-alt: #CBD6F0;
		--foreground-primary: #141A29;
		--purple: #492dd5ec;
	}
}

body {
  background-color: var(--background-primary);
  color: var(--accent);
  transition: background-color 1s ease-in-out;
  width: 100vw;
  
  margin: 0;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--background-primary);
  color: var(--accent);
  transition: background-color 1s ease-in-out;
}

.gheader {
  position: relative;
  margin-top: 2em;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 2em;
  letter-spacing: 0.1em;
}

.all-lists {
  position: relative;
  top: 10%;
  width: auto;
  border: 1px solid var(--accent);
  border-radius: 0.5em;
  padding: 1em;
  margin: 2em;
}
.list-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.list-table th {
  font-weight: bold;
  border-bottom: 2px solid var(--accent);
  padding: 0.5em 1em;
}

.list-table td {
  padding: 0.5em 1em;
}

.list-table tbody tr:hover {
  color: var(--background-primary);
  background-color: var(--accent);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1em !important;
}

.list-table tbody tr {
  border-bottom: 1px solid var(--accent);
  cursor: pointer;
}

.list.selected {
  background-color: var(--lighter);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.list-table tbody tr.list.selected {
  color: var(--background-primary);
  background-color: var(--accent);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
}


.fieldcontainer {
  top: 10%;
  position: relative;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  padding-top: 30px;
  padding-bottom: 30px;
}
.taskadd {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.listsave {
  top: 10%;
  position: relative;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  padding-top: 30px;
  padding-bottom: 30px;
}

.taskfield {
  width: 5em;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--accent);
  color: var(--text-color-light);
  border-radius: 0.6rem;
  background-color: var(--background-secondary-alt);
}

.right {
  align-items: right;
  justify-items: right;
}

.list-container {
  position: relative;
  top: 1%;
  right: 0;
  width: 20vw;
  height: auto;
  border-radius: 0.5em;
  margin-left: 10px;
  padding: 10px 10px;
  border: 1px var(--accent) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.sbutton {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0.7em;
  padding: 0.4em 0.1em;
  width: 8em;
  border-radius: 0.4em;
  font-size: 16px;
  cursor: pointer;
  color: var(--accent);
  background-color: var(--background-secondary);
  border: 0.15em solid var(--accent);
}
.sbutton:hover,
.sbutton:focus {
  background-color: var(--background-primary);
  color: var(--lighter);
}

.taskfield {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--accent);
  border-radius: 0.5em;
  background-color: var(--background-primary) !important;
  color: var(--text-color-light);
  
}
.listname {
  width: 10em;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--accent);
  background-color: var(--background-primary) !important;
  color: var(--text-color-light);
  border-radius: 0.5em;
}

.listcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.tinput {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  color: var(--lighter);
}
.task-circle {
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--lighter);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
}

.selected-circle {
  width: 12px;
  height: 12px;
  background-color: var(--accent);
  border-radius: 50%;
}